VM Name,ESXi Host,Host IP,vCenter,Username,Password,OS Version,Status,Description
{% for group in inventory -%}
{% for esx_host in inventory[group] -%}
{% if not esx_host['username'] and not esx_host['password'] -%}
{% set unknown = "1" -%}
{% else -%}
{% set unknown = "0" -%}
{% endif -%}
{% for virtual_machine in esx_host['vmware_host_info']['virtual_machines'] -%}
"{{ virtual_machine['name'] }}","{{ esx_host['host_name'] }}","{{ virtual_machine['ip_address'] }}","{{ esx_host['vmware_host_info']['managed_by'] }}",,,"{{ virtual_machine['guest'] }}","{{ virtual_machine['state'] }}","{{ virtual_machine['annotation'] }}"
{% endfor -%}
{% endfor -%}
{% endfor -%}
